@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-950
}

::selection {
  color: #955cd1;
  background: #5f9dc9;
}

h1 {
  @apply text-white text-4xl sm:text-5xl md:text-6xl font-light text-transparent bg-clip-text animate-gradient-scroll bg-gradient-to-r from-[#5f9dc9] via-[#955cd1] to-[#5f9dc9]
}

h2 {
  @apply text-3xl sm:text-4xl md:text-5xl font-light text-[#5f9dc9]
}

a {
  @apply text-[#5f9dc9] font-bold
}

p {
  @apply text-white font-extralight text-xs sm:text-sm md:text-base xl:text-lg 2xl:text-xl
}

.pic {
  @apply rounded-full w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 xl:w-32 xl:h-32 
}

.icons {
 @apply w-6 h-6 sm:w-8 sm:h-8 md:w-10 md:h-10 xl:w-12 xl:h-12 
}

@keyframes scrollGradient {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

.animate-gradient-scroll {
  background-size: 200% 100%;
  animation: scrollGradient 5s linear infinite;
}
